{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Family Promise Homepage</h1>
    <p class="lead">Choose one of the options below.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Profile</h5>
                <p class="card-text">View or edit your profile.</p>
                <a href="#" class="btn btn-primary">Profile</a> {# Replace '#' with the actual URL when available #}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Questionnaire</h5>
                <p class="card-text">Complete the questionnaire.</p>
                <a href="#" class="btn btn-primary">Questionnaire</a> {# Replace '#' with the actual URL when available #}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Matching</h5>
                <p class="card-text">Find your matches.</p>
                <a href="#" class="btn btn-primary">Matching</a> {# Replace '#' with the actual URL when available #}
            </div>
        </div>
    </div>
</div>
{% endblock %}
