{% extends "navigation_bar.html" %}

{% block title %}Rate House Features{% endblock %}

{% block content %}
<body>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h1>Rate House Features</h1>
    <p>Please select a feature to rate:</p>
    
    <ul>
        {% for feature in features %}
            <li><a href="{% url 'rate_feature' feature=feature %}">{{ feature }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'results' %}">See Results</a>
</body>
</html>
{% endblock %}