{% extends "base.html" %}
{% extends navigation_bar.html %}

{% block title %}Pick a Path{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to the Pick a Path Page</h1>
    <p class="lead">Choose one of the options below to explore different scenarios.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scenario 1</h5>
                <p class="card-text">Explore scenario 1 to learn more.</p>
                <a href="{% url 'scenario1' %}" class="btn btn-primary">Go to Scenario 1</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Scenario 2</h5>
                <p class="card-text">Explore scenario 2 to learn more.</p>
                <a href="{% url 'scenario2' %}" class="btn btn-primary">Go to Scenario 2</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Article 1</h5>
                <p class="card-text">Read article 1 for more information.</p>
                <a href="{% url 'article1' %}" class="btn btn-primary">Go to Article 1</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
